<div class="parent">
  <!-- Header Logo And Links -->
  <div class="header container m-auto row py-3">
    <div class="left col-lg-5 col-md-6">
      <h2>ACADEMIA</h2>
      <p>ONLINE EDUCATION & LEARNING</p>
    </div>
    <div class="mid row col-lg-5 d-none d-lg-flex">
      <div class="time col-6 d-flex">
        <i class="fa-regular fa-clock me-2 mt-2"></i>
        <div class="txt">
          <p>Monday-Friday</p>
          <p>8:00AM-8:00PM</p>
        </div>
      </div>
      <div class="call col-6 d-flex">
        <i class="fa-solid fa-phone me-2 mt-2"></i>
        <div class="txt">
          <p>Call Us</p>
          <p>+1 234 5678 910</p>
        </div>
      </div>
    </div>
    <div class="right col-lg-2 col-md-6 mt-2 p-1 d-none d-md-block">
      <a href="https://web.facebook.com/"
        ><i class="fa-brands fa-facebook me-3 p-2"></i
      ></a>

      <a href="https://x.com/login=/"
        ><i class="fa-brands fa-twitter me-3 p-2"></i
      ></a>

      <a href="https://www.instagram.com/"
        ><i class="fa-brands fa-instagram me-3 p-2"></i
      ></a>

      <a href="https://dribbble.com/session/new"
        ><i class="fa-brands fa-dribbble p-2"></i
      ></a>
    </div>
  </div>
  <!-- Navbar -->
  <nav class="nav navbar navbar-expand-lg mx-4">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        @for(headerTitle of titles ;track $index){
        <li class="nav-item me-3">
          <a
            class="nav-link link"
            [routerLink]="routers[$index]"
            routerLinkActive="active"
            (click)="setTitle($index)"
            >{{ headerTitle.page }}
          </a>
        </li>
        }
      </ul>
    </div>
    <button class="certificate" (click)="openCertificate()">
      GET CERTIFICATE
    </button>

    <button
      class="menu-button menu-toggle navbar-toggler me-3"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="showMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="page container mx-auto">
    @if (title.title==''){
    <div class="home">
      <p>Welcome to Academia</p>
      <h1>Best Online Education Expertise</h1>
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia, there live the blind texts.
      </p>
      <button
        class="btn p-2 me-4 mt-4"
        style="background-color: #22c8ba; color: #fff; font-weight: bold"
        routerLink="/pricing"
        (click)="setTitle(4)"
      >
        GET STARTED NOW!
      </button>
      <button
        class="btn p-2 mt-4"
        style="
          border: 1px solid #22c8ba;
          background-color: rgba(0, 0, 0, 0.3);
          color: #22c8ba;
          font-weight: bold;
        "
        routerLink="/all-courses"
        (click)="setTitle(1)"
      >
        VIEW COURSE
      </button>
    </div>
    }@else{
    <div class="text-center">
      <span class="home-span" routerLink="home" (click)="setTitle(0)"
        >Home >
      </span>
      <span> {{ title.page }} ></span>
      <h3 class="mt-3">{{ title.title }}</h3>
    </div>
    }
  </div>
  <!-- Pages Links Menu Appear In Medium And Small Media -->
  <div class="menu p-3" [ngClass]="menuToggle">
    <ul class="list-unstyled">
      @for(menuTitle of titles;track $index){
      <li class="mb-2">
        <a
          [routerLink]="routers[$index]"
          routerLinkActive="active"
          (click)="setTitle($index)"
          >{{ menuTitle.page }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>

<!-- Certificate Card -->

<div class="overlay d-none w-100 h-100">
  <div class="image w-50 h-50 text-center">
    <span
      class="btn"
      style="background-color: #22c8ba; color: #ffffff; font-weight: bold"
      (click)="closeCertificate()"
      >X</span
    >
    @if(user.isLogin){
    <img class="w-100 h-100" [src]="user.certificateImage" alt="" />
    }@else {
    <p>Please Sign In To Get Certificate</p>
    }
  </div>
</div>
