<div class="mx-0 row justify-content-center" style="background-color: #22c8ba">
  <div class="col-lg-5 col-md-10 col-sm-10 text-white mt-5 mb-4">
    <h4>Newsletter - Stay tune and get the latest update</h4>
    <p>Far far away, behind the word mountains</p>
  </div>
  <div class="col-lg-4 col-md-10 col-sm-10 text-white mt-5 mb-4">
    <div class="input-group email-input mt-4">
      <input
        type="email"
        class="form-control telegram-input"
        placeholder="Enter Email Address"
        [(ngModel)]="email"
        aria-label="Email"
      />
      <span class="input-group-text telegram-icon" (click)="scrollTop()">
        <i class="fab fa-telegram-plane"></i>
      </span>
    </div>
  </div>
</div>

<div
  class="mx-0 row justify-content-center flex-wrap d-flex"
  style="background-color: rgb(241, 238, 238)"
>
  <div class="col-lg-2 col-md-5 col-sm-10 mt-5">
    <h2 class="p-0"><b>ACADEMIA</b></h2>
    <p class="p-0">
      <span style="color: #22c8ba">ONLINE EDUCATION & LEARNING</span>
    </p>
    <p class="mt-4">
      A small river named Duden flows by their place and supplies it with the
      necessary regelialia.
    </p>
    <div class="d-flex flex-row">
      <div class="me-2">
        <a href="https://x.com/login=/">
          <i
            class="fa-brands fa-square-twitter fa-2xl rounded-circle"
            style="color: #22c8ba"
          ></i>
        </a>
      </div>
      <div class="me-2">
        <a href="https://web.facebook.com/">
          <i
            class="fa-brands fa-facebook fa-2xl rounded-circle"
            style="color: #22c8ba"
          ></i>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/">
          <i
            class="fa-brands fa-square-instagram fa-2xl rounded-circle"
            style="color: #22c8ba"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-3 col-sm-10 mt-5">
    <h5>Explore</h5>
    <div class="mt-4 d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">About Us</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Servecies</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Courses</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Blogs</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Contact Us</p>
    </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-10 mt-5">
    <h5>Quick Links</h5>
    <div class="mt-4 d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Contact Us</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Pricing</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Terms & Conditions</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Privacy</p>
    </div>
    <div class="d-flex flex-row">
      <div class="me-1">
        <i class="fa-solid fa-arrow-right" style="color: #22c8ba"></i>
      </div>
      <p class="click" (click)="scrollTop()">Feedback</p>
    </div>
  </div>

  <div class="col-lg-3 col-md-5 col-sm-10 mt-5 mb-5">
    <h5>Recent Posts</h5>
    <div class="d-flex flex-row mt-4">
      <div class="me-2">
        <img src="assets/img3.jpeg" width="70px;" height="60px;" alt="" />
      </div>
      <div>
        <div class="d-flex flex-row">
          <div class="me-1 ms-1">
            <i class="fa-solid fa-calendar-days" style="color: #22c8ba"></i>
          </div>
          <p><span style="color: #22c8ba">Aug. 5, 2024 </span></p>
          <div class="me-1 ms-1">
            <i class="fa-solid fa-user" style="color: #22c8ba"></i>
          </div>
          <p><span style="color: #22c8ba">Admin </span></p>
        </div>
        <h6 class="p-0 m-0">Creativity and Inspiration</h6>
      </div>
    </div>

    <div class="d-flex flex-row mt-4">
      <div class="me-2">
        <img src="assets/img4.jpg" width="70px;" height="60px;" alt="" />
      </div>
      <div>
        <div class="d-flex flex-row">
          <div class="me-1 ms-1">
            <i class="fa-solid fa-calendar-days" style="color: #22c8ba"></i>
          </div>
          <p><span style="color: #22c8ba">Aug. 5, 2024 </span></p>
          <div class="me-1 ms-1">
            <i class="fa-solid fa-user" style="color: #22c8ba"></i>
          </div>
          <p><span style="color: #22c8ba">Admin </span></p>
        </div>
        <h6 class="p-0 m-0">Creativity and Inspiration</h6>
      </div>
    </div>

    <div class="d-flex flex-row mt-4">
      <div class="me-2">
        <img src="assets/img5.jpg" width="70px;" height="60px;" alt="" />
      </div>
      <div>
        <div class="d-flex flex-row">
          <div class="me-1 ms-1">
            <i class="fa-solid fa-calendar-days" style="color: #22c8ba"></i>
          </div>
          <p><span style="color: #22c8ba">Aug. 5, 2024 </span></p>
          <div class="me-1 ms-1">
            <i class="fa-solid fa-user" style="color: #22c8ba"></i>
          </div>
          <p><span style="color: #22c8ba">Admin </span></p>
        </div>
        <h6 class="p-0 m-0">Creativity and Inspiration</h6>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-5 col-sm-10 mt-5 mb-5">
    <h5>Have a Question?</h5>
    <div class="d-flex flex-row mt-5">
      <div class="me-4 mt-2">
        <i class="fa-solid fa-map fa-2xl" style="color: #22c8ba"></i>
      </div>
      <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
    </div>
    <div class="d-flex flex-row mt-4">
      <div class="me-4">
        <i class="fa-solid fa-phone fa-2xl" style="color: #22c8ba"></i>
      </div>
      <p>+2 392 3929 210</p>
    </div>
    <div class="d-flex flex-row mt-4">
      <div class="me-4">
        <i class="fa-solid fa-envelope fa-2xl" style="color: #22c8ba"></i>
      </div>
      <p>academia&#64;gmail.com</p>
    </div>
  </div>
</div>

<div
  class="w-100 d-flex flex-row justify-content-center"
  style="background-color: rgb(193, 192, 192)"
>
  <div class="mt-5 mb-5 d-flex flex-row justify-content-center">
    <p>This template is made with</p>
    <div class="ms-1 me-1">
      <i class="fa-solid fa-heart" style="color: #24aea2"></i>
    </div>
    <p>by <span style="color: #22a197"> Our Team</span></p>
  </div>
</div>
