<section class="container mt-3">
  <section class="row">
    <div class="col-lg-6 col-md-6 img"></div>

    <div class="col-lg-6 col-md-6 p-4 mt-4">
      <p class="fw-bold fs-5 t-color">LEARN ANYTHING</p>
      <h1 class="fw-bold mb-3">Benefits About Online Learning Expertise</h1>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-around mb-2 hov">
          <div>
            <i class="fa-solid fa-wifi fs-1 pt-5 t-color"></i>
          </div>
          <div class="w-75 py-4">
            <h5>Online Courses</h5>
            <P class="mb-0 fs-5 off-white"
              >Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.</P
            >
          </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-around mb-2 hov">
          <div>
            <i class="fa-solid fa-certificate fs-1 pt-5 t-color"></i>
          </div>
          <div class="w-75 py-4">
            <h5>Earn A Certificates</h5>
            <P class="mb-0 fs-5 off-white"
              >Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.</P
            >
          </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-around mb-2 hov">
          <div>
            <i class="fa-solid fa-user-tie fs-1 pt-5 t-color"></i>
          </div>
          <div class="w-75 py-4">
            <h5>Learn with Expert</h5>
            <P class="mb-0 fs-5 off-white"
              >Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.</P
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<!-- section one -->
<app-counter></app-counter>
<!-- section two -->
<section class="my-5 container">
  <div class="d-flex justify-content-center">
    <p class="t-color fw-bold fs-5 mb-0">TESTIMONIAL</p>
  </div>
  <div class="d-flex justify-content-center" style="margin-bottom: 6rem">
    <p class="fs-1 fw-bold">Our Successful Students</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators" style="bottom: -50px !important">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active bg-black"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class="bg-black"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class="bg-black"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 p-4">
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_1.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5 text-secondary">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 p-4 text-white"
            style="background-color: #22c8ba"
          >
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_2.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-4">
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_3.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5 text-secondary">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 p-4">
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_2.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5 text-secondary">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 p-4 text-white"
            style="background-color: #22c8ba"
          >
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_3.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonants, there live the blind texts.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-4">
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_1.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5 text-secondary">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 p-4">
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_3.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5 text-secondary">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 p-4 text-white"
            style="background-color: #22c8ba"
          >
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_1.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-4">
            <div class="d-flex align-items-center mb-5">
              <div class="w-25 test">
                <img
                  src="assets/person_2.jpeg"
                  class="rounded-circle w-100"
                  alt="..."
                />
              </div>
              <p class="ps-3 fs-3 fw-bold">Roger Scott</p>
            </div>
            <p class="fs-5 text-secondary">
              Far far away, behind the word mountains, far from the countries
              Vedalia and Consonant, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
