<app-about></app-about>
<section style="background-color: rgb(241, 238, 238)">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5 mb-5">
        <h6>
          <span style="color: #22c8ba; font-size: larger"><b>COURSES</b></span>
        </h6>
        <h1><b>Browse Our Online Courses</b></h1>
      </div>
      <div
        class="col-lg-12 mb-5 d-flex flex-row flex-wrap justify-content-between"
      >
        <div
          class="col-lg-2 col-md-4 col-sm-6 mb-2 clickable-button bg-white text-center d-flex flex-column small-card"
          (click)="scrollToHeader()"
        >
          <div class="rotation-div">
            <div class="mt-5">
              <i class="fa-solid fa-computer fa-2xl" style="color: #22c8ba"></i>
            </div>
            <div class="mt-4"><h4>UI/UX Design Courses</h4></div>
            <div class="mt-3 mb-5">
              <p
                class="bg-light w-50"
                style="color: #22c8ba; margin-left: 52px"
              >
                25 Courses
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 mb-2 clickable-button bg-white text-center d-flex flex-column small-card"
          (click)="scrollToHeader()"
        >
          <div class="rotation-div">
            <div class="mt-5">
              <i class="fa-solid fa-palette fa-2xl" style="color: #22c8ba"></i>
            </div>
            <div class="mt-4"><h4>Art & Design</h4></div>
            <div class="mt-3 mb-5">
              <p
                class="bg-light w-50"
                style="color: #22c8ba; margin-left: 52px"
              >
                25 Courses
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 mb-2 clickable-button text-center d-flex flex-column small-card"
          style="background-color: #22c8ba"
          (click)="scrollToHeader()"
        >
          <div class="rotation-div">
            <div class="mt-5">
              <i class="fa-solid fa-robot fa-2xl" style="color: #f6f6f6"></i>
            </div>
            <div class="mt-4"><h4>Computer Sciences</h4></div>
            <div class="mt-3 mb-5">
              <p
                class="bg-light w-50"
                style="color: #22c8ba; margin-left: 52px"
              >
                25 Courses
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 mb-2 clickable-button bg-white text-center d-flex flex-column small-card"
          (click)="scrollToHeader()"
        >
          <div class="rotation-div">
            <div class="mt-5">
              <i class="fa-solid fa-timeline fa-2xl" style="color: #22c8ba"></i>
            </div>
            <div class="mt-4"><h4>History & Archologic</h4></div>
            <div class="mt-3 mb-5">
              <p
                class="bg-light w-50"
                style="color: #22c8ba; margin-left: 52px"
              >
                25 Courses
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 mb-2 clickable-button bg-white text-center d-flex flex-column small-card"
          (click)="scrollToHeader()"
        >
          <div class="rotation-div">
            <div class="mt-5">
              <i
                class="fa-solid fa-window-restore fa-2xl"
                style="color: #22c8ba"
              ></i>
            </div>
            <div class="mt-4"><h4>Software Engineering</h4></div>
            <div class="mt-3 mb-5">
              <p
                class="bg-light w-50"
                style="color: #22c8ba; margin-left: 52px"
              >
                25 Courses
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 mb-2 clickable-button bg-white text-center d-flex flex-column small-card"
          (click)="scrollToHeader()"
        >
          <div class="rotation-div">
            <div class="mt-5">
              <i
                class="fa-solid fa-circle-info fa-2xl"
                style="color: #22c8ba"
              ></i>
            </div>
            <div class="mt-4"><h4>Information Software</h4></div>
            <div class="mt-3 mb-5">
              <p
                class="bg-light w-50"
                style="color: #22c8ba; margin-left: 52px"
              >
                25 Courses
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-plans></app-plans>
