.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row .plan {
  transform: translateY(100px);
  opacity: 0.1;
  transition: 1s;
}
.go-up {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #22c8ba !important;
  background: transparent !important;
  color: #22c8ba !important;
}
.btn {
  padding: 9px 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-weight: 700;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover:hover {
  background-color: #22c8ba !important;
  color: white !important; /* Change text color if necessary */
}
.block-7 .price .number {
  font-size: 50px;
  font-weight: 600;
  color: #22c8ba;
}
.block-7 .price sup {
  font-size: 24px;
  top: -0.8em;
  color: gray;
}
.block-7 .excerpt {
  margin-bottom: 0;
  color: #111111;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}
.block-7 {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  padding: 40px 0 40px 0;
  background: #fff;
  box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-center {
  text-align: center !important;
}
.block-7 .btn-primary {
  color: #fff;
  text-transform: uppercase;
  font-style: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 60%;
  margin: 0 auto;
}
.p-4 {
  padding: 1.5rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
